.poll {
  width: 400px;
  padding: 1rem;
  margin: 30px;
  font-family: "Ubuntu Mono", monospace;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.poll_title {
  font-weight: bold;
  color: #2c3e50;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.poll_option:hover {
  cursor: pointer;
}

.poll_option:not(:last-child) {
  margin-bottom: 0.5rem;
}

.poll_option--selected .poll_option-fill {
  background: #009578;
}

.poll_option--selected .poll_option-info {
  font-weight: bold;
}

.poll_option-fill {
  width: 50%;
  height: 10px;
  background: #dddddd;
}

.poll_option-info {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 1.25rem;
}
